
#nav{
  position: sticky;
  top: 0;
  z-index: 1000;
}
#nav .logo{
  margin-left: 10%;
  padding: 0;
}
.nav-link{
  cursor: pointer;
  font-size: 15px;
  margin: auto;
}
.nav-link:hover{
  transition: 0.5s;
  color: black;
  background-color: rgba(0, 0, 0, 0.03);
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #106eea;
  height: 30px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
}

#topbar .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}
/* FIN */
img{
  max-width: 100%;

}
.titulos{
  font-size: 20px;
  color:  #107cba ;
  font-weight: 600;
}
nav{
  font-size: 12px;
}

.header-bottom{
  display: flex;
  align-self: center;
  background: lightseagreen;
  padding: 5px 0;
}

.color1{
  color: white;
  text-decoration: none;
}

#ubicanos{
  margin-left: 20px;
}



/* ---------------------- */
/* start megamenu colors */
/* ---------------------- */
.color1:hover{
	background:#EF5F21;
	color: #ffffff;
  cursor: pointer;
}
.color2:hover{
	background:#589D3E;
	color: #ffffff;
}
.color3:hover{
	background:#00ACED;
	color: #ffffff;
}
.color4:hover{
	background:#D61F85;
	color: #ffffff;
}
.color5:hover{
	background:#F89F1B;
	color: #ffffff;
}
.color6:hover{
	background:#00677C;
	color: #ffffff;
}
.color7:hover{
	background:#D5331D;
	color: #ffffff;
}
.color8:hover{
	background:#00405d;
	color: #ffffff;
}
.color9:hover{
	background:#9CB43A;
	color: #ffffff;
}
.color10:hover{
	background: #0AA4FC;
	color: #ffffff;
}
.color11:hover{
	background:#B800FF;
	color: #ffffff;
}
.color12:hover{
	background:#07A289;
	color: #ffffff;
}

/* -------------*/
/* CATEGORIAS */
/* ------------- */
.header-bottom{
	background:black;
	padding: 5px 0;
  position: sticky;
  top: 55px;
  z-index: 1000;
}
.megamenu{margin-bottom:0px;padding:0;width:100%;list-style:none;display:inline-block;position:relative;}
.megamenu li{margin-bottom:-5px;display:inline}
.megamenu>li>a{float:left;padding:8px 20px;text-decoration:none;text-transform:capitalize;font-size:0.85em; -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}

/*subtitulos*/
.subtitulos{
  text-align: center;
  color: #107cba;
  font-size: 30px;
  margin-bottom: 12px;
}
.img_tecnologia{
  width: 100%;
}
.conte_img2{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.css-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  margin-bottom: 15px;
}
.img4{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #f1f6fe;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f1f6fe;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

.emailsuscribe {
  box-shadow: #032942;
  width: 100%;
}

.suscribe {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #106eea;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #0d58ba;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #106eea;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #106eea;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #106eea;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #3b8af2;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #444444;
}

@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}

